<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/png" href="Img/favicon.png" />

  <!-- Core Css -->
  <link rel="stylesheet" href="Css/styles.css" />

  <title>Spike Bootstrap Admin</title>
<script type="text/javascript" src="Js/main.js" charset="UTF-8"></script></head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <img src="Img/favicon.png" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <div id="main-wrapper" class="p-0">
    <div class="position-relative overflow-hidden min-vh-100 w-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-4">
            <div class="text-center">
              <img src="errorimg.svg" alt="spike-img" class="img-fluid" width="500">
              <h1 class="fw-semibold mb-7 fs-9">Opps!!!</h1>
              <h4 class="fw-semibold mb-7">hubo un error con la pagina seleccionada!!</h4>
              <a class="btn btn-primary" href="index.html" role="button">Volver a Menu de Inicio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-transparent sidebartoggler"></div>
  </div>
  <!-- Import Js Files -->
  <script src="Js/bootstrap.bundle.min.js"></script>
  <script src="Js/simplebar.min.js"></script>
  <script src="Js/app.horizontal.init.js"></script>
  <script src="Js/theme.js"></script>
  <script src="Js/app.min.js"></script>
  <script src="Js/feather.min.js"></script>

  <!-- solar icons -->
  <script src="Ja/iconify-icon.min.js"></script>
</body>

</html>